<main class="h-full">
  @if (title()) {
  <app-title type="title" inputTitle="{{ title() }}" />
  } @if (countdownString()) {
  <app-title type="countdown" inputTitle="{{ countdownString() }}" />
  }

  <div class="flex gap-[24px] justify-center mt-[32px]">
    <app-textinput title="Title" [(onInputChange)]="title" [value]="title()" />
    <app-textinput
      title="End Date"
      [(onInputChange)]="endDate"
      type="countdown"
      [value]="endDate()"
    />
  </div>
</main>
<router-outlet />
